#container {
    display: flex;
    padding: 0px 30px;
    .link{
        cursor: pointer;
        pointer-events: auto; 
        &:hover{
            font-weight: bold;
        }
    }
    #links {
        flex-grow: 1;
        display: flex;
        gap: 20px;
        justify-content: right;
        
    }
}