
<div class="chat-container">
    <div class="chat-banner">
      <img src="/banner.jpg" alt="image" />
    </div>
    <div class="chat-box">
      <div class="input-label-group">
        <label for="personToImpersonate">Chat with any known person you like: &nbsp;&nbsp;</label>
        <input
          id="personToImpersonate"
          type="text"
          [(ngModel)]="personToImpersonate"
          placeholder="Type the person to impersonate..."
          class="input-field small-input"
        />
      </div>
      <div class="chat-messages" #chatMessagesContainer>
        <div *ngFor="let message of chatMessages" class="message">
          <strong class="message-sender">{{ message.sender }}:</strong>
          <span class="message-text">{{ message.text }}</span>
        </div>
      </div>
      <div class="input-group">
        <div class="input-box">
          <input
            type="text"
            [(ngModel)]="userInput"
            placeholder="Type your message here..."
            (keyup.enter)="sendMessage()"
            class="input-msg large-input"
          />
          <button (click)="sendMessage()" class="send-button">
            <img src="send.svg" alt="Send" class="send-icon" />
          </button>
        </div>
      </div>
       
    </div>
</div>

<div>
  
  <p>Token: {{ auth.getToken() }}</p>
  <p *ngIf="data">{{ data.message }}</p>

</div>
